* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #020617, #020617);
  color: #e5e7eb;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  background: rgba(2,6,23,0.9);
  backdrop-filter: blur(10px);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  margin-left: 30px;
  color: #e5e7eb;
  text-decoration: none;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 100px;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text p {
  color: #94a3b8;
  margin: 15px 0 30px;
}

.buttons .btn {
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  margin-right: 10px;
}

.primary {
  background: #6366f1;
  color: white;
}

.outline {
  border: 1px solid #6366f1;
  color: #6366f1;
}

.hero-img img {
  width: 280px;
  border-radius: 50%;
  border: 4px solid #6366f1;
}

/* SECTIONS */
section {
  padding: 80px 120px;
}

h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.skill {
  padding: 20px;
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  text-align: center;
}

/* CONTACT */
form {
  max-width: 500px;
}

input, textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  background: #020617;
  border: 1px solid #334155;
  color: white;
}

button {
  padding: 12px;
  background: #6366f1;
  border: none;
  color: white;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 30px;
  color: #94a3b8;
}
